<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>CoronaHelp</title>
  <link rel="stylesheet" href="assets/bootstrap/css/styles.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic">
  <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
  <!--   <script src="../../node_modules/google-address-autocomplete/dist/google-address-autocomplete.min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDMtQOCpkOkgSeVgBwwtPrUh5A9QW32iqc&libraries=places"></script>-->
</head>

<body>
  <nav class="navbar navbar-light navbar-expand bg-light navigation-clean">
    <div class="container"><a class="navbar-brand" href="/">CoronaHelp</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1">
      </button>
      <a class="btn btn-primary ml-auto" role="button" href="/add-store">Add your store!</a>
    </div>
  </nav>
  <header class="masthead text-white text-center" style="background:url('assets/img/bg-masthead.jpg')no-repeat center center;background-size:cover;">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h1 class="mb-5">Play your part in the fight against COVID-19</h1>
        </div>
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto" style="padding-left: 8%;">
          <form action="/list-stores" method="POST">
            <div class="form-row">
              <div class="col-12 col-md-9 mb-1 mb-md-0">
                <input class="form-control form-control-lg" type="text" id="autocomplete" name="autocomplete" size="50" placeholder="Enter your location" />
              </div>
              <input type="text" id="resultid" name="resultid" hidden>
              <div class="col-12 col-md-3"><button class="btn btn-primary btn-block btn-lg">Search</button></div>
            </div>
          </form>
          <div id="add-store-btn"><button class="btn btn-primary btn-block btn-lg" href="/add-store">Add your store!</button></div>
          <div id="share-icons" style="margin-top: 20px;">
            <h4>Share via:</h4><a href="https://wa.me/?text=Check out www.corona-help.in! The COVID-19 pandemic is steadily spreading in India, and our daily routines are all but disrupted.
With the 3 week lockdown in place, and restrictions on leaving our homes, it can be difficult to understand which stores are open for necessary supplies and where to go to find them.

Through our site, shop owners and other businessmen can add their stores online and information about the supplies they have. Users can search for stores open in a particular area, and see the supplies they are keeping. This can reduce the efforts of searching for supplies in different stores.

If you are a shop owner, do add your store to the list so that you can play your part in easing lives during these trying times.

And for everyone else, stay home, stay safe, use our site and go out only when and where necessary!"><i class="fa fa-whatsapp" style="font-size:30px;color:white; margin-right: 20px;"></i></a>
            <a class="twitter-share-button" href="https://twitter.com/intent/tweet?text=Check out www.corona-help.in. The COVID-19 pandemic is steadily spreading in India, and our daily routines are all but disrupted.
    With the 3 week lockdown in place, and restrictions on leaving our homes, it can be difficult to understand which stores are open for necessary supplies and where to go to find them.

    Through our site, shop owners and other businessmen can add their stores online and information about the supplies they have. Users can search for stores open in a particular area, and see the supplies they are keeping. This can reduce the efforts of searching for supplies in different stores.

    If you are a shop owner, do add your store to the list so that you can play your part in easing lives during these trying times.

    And for everyone else, stay home, stay safe, use our site and go out only when and where necessary!" data-size="large"><i class="fa fa-twitter" style="font-size:30px;"></i></a>
          </div>
        </div>
      </div>
    </div>
    </div>
  </header>

  <div class="row" style="margin-top: 30px;">
    <div class="col-1"></div>
    <div class="jumbotron col-10 text-center">
      <h4 class="display-6">Notice for Belgaum residents</h4>
      <hr class="my-4">
      <p class="lead">The corporation has arranged for mobile vegetable vans to serve vegetables at your doorstep in all 58 wards. See a list of all the areas and contact numbers.</p>
      <a class="btn btn-secondary btn-lg" href="/vegetable-vans-belgaum" role="button">Learn more</a>
    </div>
  </div>

  <section class="feedback" style="padding: 50px; background: #fff">
    <a href="https://forms.gle/Q3D7SG3aSjEXmTBt5" target="_blank" style="color:black;">
      <h5 class="text-black large mb-4 mb-lg-0" style="text-align: center;"><strong>Help us improve! Click here for feedbacks and suggestions </strong> </h5>
    </a>
  </section>
  <%if(cities.length!=0) {%>
  <section class="cities">
    <br>
    <h4 class="text-center">Cities we have reached:</h4>
    <div class="row">
      <div class="col-sm-1 col-md-4"></div>
      <ul class="list-group list-group-flush text-center col-sm-10 col-md-4">
        <%for(let i in cities) {%>
        <li class="list-group-item"><%=cities[i]%></li>
        <%}%>
      </ul>
    </div>
    <br>
  <a href="#share-icons"> <p class="text-muted  mb-4 mb-lg-0" style="text-align: center;">Can't find your city? Help spread the word!</p></a>
<%}%>
  </section>
  <section class="mission">
    <p> The COVID-19 pandemic is steadily spreading in India, and our daily routines are all but disrupted.
      With the 3-week lockdown in place, and restrictions on leaving our homes, it can be difficult to understand which stores are open for necessary supplies and where to go to find them.
    </p>
    <p> Through our site, shop owners and other businessmen can add their stores online and information about the supplies they have. Users can search for stores open in a particular area, and see the supplies they are keeping. This can reduce the
      efforts of searching for supplies in different stores.</p>

    <p> If you are a shop owner, do add your store to the list so that you can play your part in easing lives during these trying times.
    </p>
    <p> And for everyone else, stay home, stay safe, use our site and go out only when and where necessary!
    </p>
  </section>
  <footer class="footer bg-light">
    <p class="text-muted small mb-4 mb-lg-0" style="text-align: center;">Made with ♥ by Vaibhav Muchandi and Varun Shiri</p>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 my-auto h-100 text-center text-lg-left">
          <ul class="list-inline mb-2">
            <li class="list-inline-item"><a href="/">Home</a></li>
            <li class="list-inline-item"><span>⋅</span></li>
            <li class="list-inline-item"><a href="/add-store">Add your store</a></li>
            <li class="list-inline-item"><span>⋅</span></li>
            <li class="list-inline-item"><a href="/list-stores">Search stores</a></li>
            <li class="list-inline-item"><span>⋅</span></li>
            <li class="list-inline-item"><a href="https://wa.me/918105937586">Contact</a></li>
          </ul>
          <p class="text-muted small mb-4 mb-lg-0">© CoronaHelp 2020. All Rights Reserved.</p>
        </div>
        <div class="col-lg-6 my-auto h-100 text-center text-lg-right">
          <ul class="list-inline mb-0">
            <li class="list-inline-item"><a href="https://www.facebook.com/vaibhavmuchandii"><i class="fa fa-facebook fa-2x fa-fw"></i></a></li>
            <li class="list-inline-item"><a href="https://www.twitter.com/vaibhavmuchandi"><i class="fa fa-twitter fa-2x fa-fw"></i></a></li>
            <li class="list-inline-item"><a href="https://www.instagram.com/vaibhav.muchandi"><i class="fa fa-instagram fa-2x fa-fw"></i></a></li>
            <li class="list-inline-item"><a href="https://wa.me/918105937586"><i class="fa fa-whatsapp fa-2x fa-fw"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</body>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDMtQOCpkOkgSeVgBwwtPrUh5A9QW32iqc&libraries=places"></script>
<script src="assets/js/google-address-autocomplete.min.js"></script>
<script src="assets/js/jquery.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script>
  var placeid = ""

  function set() {
    document.getElementById('resultid').value = placeid;
  }
  const options = {
    componentRestrictions: {
      country: "in"
    }
  };
  new AddressAutocomplete('#autocomplete', options, function(result, rawResponse) {
    console.log(result);
    placeid = rawResponse.place_id
    set()
  });
</script>

</html>