<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>CoronaHelp</title>
    <link rel="stylesheet" href="assets/bootstrap/css/styles.css">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <!--   <script src="../../node_modules/google-address-autocomplete/dist/google-address-autocomplete.min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDMtQOCpkOkgSeVgBwwtPrUh5A9QW32iqc&libraries=places"></script>-->
  </head>

  <body>

    <nav class="navbar navbar-light navbar-expand bg-light navigation-clean">
      <div class="container"><a class="navbar-brand" href="/">CoronaHelp</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1">
        </button>
        <a class="btn btn-primary ml-auto" role="button" href="/add-store">Add your store!</a>
      </div>
    </nav>

    <div class="row" style="margin-top: 30px;">
      <div class="col-1"></div>
      <div class="jumbotron col-10 text-center">
        <h4 class="display-6">Notice for Belgaum residents</h4>
        <hr class="my-4">
        <p class="lead">The corporation has arranged for mobile vegetable vans to serve vegetables at your doorstep in all 58 wards. See a list of all the areas and contact numbers below.</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2 col-lg-2"></div>
      <div class="table-responsive-sm">
        <table class="table table-sm">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Seller</th>
              <th scope="col">Mobile No</th>
              <th scope="col">Coverage Area</th>
              <th scope="col">Vehicle</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Ramesh Guler</td>
              <td><a href="tel:8660533810">8660533810</a></td>
              <td>
                <ol>
                  <li>Mahantesh Nagar</li>
                  <li>Ramtirth Nagar</li>
                  <li>Anjaney Nagar</li>
                  <li>Rukmini Nagar</li>
                </ol>
              </td>
              <td>KA 22 B 4077</td>
            </tr>

            <tr>
              <th scope="row">2</th>
              <td>Satish Tarale</td>
              <td><a href="tel:9242742120">9242742120</a></td>
              <td>
                <ol>
                  <li>Sadashiv Nagar</li>
                  <li>Jadhav Nagar</li>
                  <li>TV Center</li>
                </ol>
              </td>
              <td>KA 22 B 4828</td>
            </tr>

            <tr>
              <th scope="row">3</th>
              <td>Guruswamy</td>
              <td><a href="tel:9380750993">9380750993</a></td>
              <td>1.Vishwesharayya Nagar</td>
            </tr>

            <tr>
              <th scope="row">4</th>
              <td>Chetan Mastiholi</td>
              <td><a href="tel:8904297877">8904297877</a></td>
              <td>
                <ol>
                  <li>Shivbasav Nagar</li>
                  <li>Sri Nagar</li>
                  <li>Ashok Nagar</li>
                </ol>
              </td>
              <td>KA 22 B 4828</td>
            </tr>

            <tr>
              <th scope="row">4</th>
              <td>Shivaray Benni</td>
              <td><a href="tel:7795195916">7795195916</a></td>
              <td>
                <ol>
                  <li>Chennamma Nagar 1st Stage</li>
                  <li>Chennamma Nagar 2nd Stage</li>
                  <li>Guruprasad Colony</li>
                </ol>
              </td>
              <td>KA 22 C 3768</td>
            </tr>

            <tr>
              <th scope="row">4</th>
              <td>Mahantesh Gurappa Akkisagar</td>
              <td><a href="tel:9964989852">9964989852</a></td>
              <td>
                <ol>
                  <li>Gandhi Nagar</li>
                  <li>Azad Nagar</li>
                  <li>Shivaji Nagar</li>
                </ol>
              </td>
              <td>KA 22 D 0065</td>
            </tr>

            <tr>
              <th scope="row">4</th>
              <td>Nilesh Micro</td>
              <td><a href="tel:7208364299">7208364299</a></td>
              <td>
                <ol>
                  <li>Hanuman Nagar</li>
                  <li>Sahyadri Nagar</li>
                  <li>Kumarswamy Layout</li>
                  <li>Jay Nagar</li>
                  <li>Kuvempu Nagar</li>
                </ol>
              </td>
              <td>KA 22 D 0794</td>
            </tr>

            <tr>
              <th scope="row">4</th>
              <td>Nilesh Micro</td>
              <td><a href="tel:7208364299">7208364299</a></td>
              <td>
                <ol>
                  <li>Ganeshpur</li>
                  <li>Vijay Nagar</li>
                  <li>Vinayak Nagar</li>
                  <li>Hindalga</li>
                </ol>
              </td>
              <td>KA 22 D 2066</td>
            </tr>

            <tr>
              <th scope="row">4</th>
              <td>Nilesh Micro</td>
              <td><a href="tel:7208364299">7208364299</a></td>
              <td>
                <ol>
                  <li>Tilakwadi</li>
                  <li>Bhagyanagar</li>
                  <li>Angol</li>
                  <li>Hindwadi</li>
                </ol>
              </td>
              <td>KA 22 B 9693</td>
              <td>KA 22 C 4396</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <footer class="footer bg-light">
      <p class="text-muted small mb-4 mb-lg-0" style="text-align: center;">Made with ♥ by Vaibhav Muchandi and Varun Shiri</p>
      <div class="container">
        <div class="row">
          <div class="col-lg-6 my-auto h-100 text-center text-lg-left">
            <ul class="list-inline mb-2">
              <li class="list-inline-item"><a href="/">Home</a></li>
              <li class="list-inline-item"><span>⋅</span></li>
              <li class="list-inline-item"><a href="/add-store">Add your store</a></li>
              <li class="list-inline-item"><span>⋅</span></li>
              <li class="list-inline-item"><a href="/list-stores">Search stores</a></li>
              <li class="list-inline-item"><span>⋅</span></li>
              <li class="list-inline-item"><a href="https://wa.me/918105937586">Contact</a></li>
            </ul>
            <p class="text-muted small mb-4 mb-lg-0">© CoronaHelp 2020. All Rights Reserved.</p>
          </div>
          <div class="col-lg-6 my-auto h-100 text-center text-lg-right">
            <ul class="list-inline mb-0">
              <li class="list-inline-item"><a href="https://www.facebook.com/vaibhavmuchandii"><i class="fa fa-facebook fa-2x fa-fw"></i></a></li>
              <li class="list-inline-item"><a href="https://www.twitter.com/vaibhavmuchandi"><i class="fa fa-twitter fa-2x fa-fw"></i></a></li>
              <li class="list-inline-item"><a href="https://www.instagram.com/vaibhav.muchandi"><i class="fa fa-instagram fa-2x fa-fw"></i></a></li>
              <li class="list-inline-item"><a href="https://wa.me/918105937586"><i class="fa fa-whatsapp fa-2x fa-fw"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

</html>